// AUTO GENERATED VIA COMPTIME
package crons

func init() {
{{- range .Crons }}
    RegisterHandler("{{ .Id }}", func(payload map[string]any) {
        {{ .HandlerBody | indent 4 }}
    })
{{- end }}
}
