@page "/posts"
@using PocketBase.Blazor
@using PocketBase.Blazor.Models
@using System.Text.Json
@using System.Globalization
@using System.Text.Json.Serialization
@using PocketBase.Blazor.Options

<h3 class="page-title">Posts</h3>

@if (posts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="posts-table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Slug</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
        @foreach (var p in posts)
        {
            <tr>
                <td>@p.Id</td>
                <td>@p.Title</td>
                <td>@p.Slug</td>
                <td>@(p.IsPublished ? "Published" : "Draft")</td>
            </tr>
        }
        </tbody>
    </table>
}

@code {
    private List<Post>? posts;

    protected override async Task OnInitializedAsync()
    {
        var options = new PocketBaseOptions();
        options.JsonSerializerOptions.PropertyNamingPolicy = JsonNamingPolicy.SnakeCaseLower;

        // Registering the client with the PocketBase URL
        var pb = new PocketBase("https:dummy-pocketbase-url.com", options: options);

        // Fetch all posts like JS SDK style
        var result = await pb.Collection("posts").GetListAsync<Post>();

        posts = result.Value.Items;
    }

    public class Post
    {
        public string Id { get; set; } = null!;
        public string? Title { get; set; }
        public string? Slug { get; set; }
        public bool IsPublished { get; set; }
        public DateTime? Created { get; set; }
    }
 }

