<Router AppAssembly="typeof(App).Assembly">
  <Found Context="routeData">
    <RouteView RouteData="routeData" DefaultLayout="null" />
  </Found>
  <NotFound>
    <p>Not found</p>
  </NotFound>
</Router>
